## Build output
[Bb]in/
[Oo]bj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio files
.vs/
*.rsuser

## NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## OS files
.DS_Store
Thumbs.db
